:root {
    --background-color: #f4f4f9;
    --text-color: #333;
    --button-background: #007bff;
    --button-hover: #0056b3;
    --button-text: #fff;
}

body[data-theme="dark"] {
    --background-color: #333;
    --text-color: #f4f4f9;
    --button-background: #444;
    --button-hover: #222;
    --button-text: #f4f4f9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 10px rgba(88, 84, 84, 0.1);
    padding: 10px;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1, h2 {
    text-align: center;
    color: var(--text-color);
}

.calculator-section {
    margin-bottom: 10px;
}

.calculator-section input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.calculator-section button, #themeToggle {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.calculator-section button:hover, #themeToggle:hover {
    background-color: var(--button-hover);
}

.result {
    margin-top: 20px;
}

.result p {
    font-size: 1.2em;
    color: var(--text-color);
}

.hidden {
    display: none;
}
